header {
  max-width: 1460px;
  width: 100%;
  padding: 40px 20px;
  margin: 0 auto;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 700px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }
  }
}

.logo {
  height: 70px;
  width: auto;
}

.links {
  display: flex;
  gap: 32px;

  @media (max-width: 700px) {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    margin-top: 16px; // отделяет ссылки от логотипа и корзины
  }
}

.link {
  color: rgb(40, 40, 40);
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  text-decoration: none;
  transition: color 0.3s;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: #0d50ff;
  }

  &:visited,
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }

  @media (max-width: 700px) {
    font-size: 18px;
    padding: 8px 0;
  }
}

.activeLink {
  color: #0d50ff;
  text-decoration: none;
  font-size: 20px;
  line-height: 130%;

  &:visited,
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.cartImg {
  height: 45px;
  width: auto;
  transition: transform 0.3s;
}

.cartImg:hover {
  transform: scale(1.3);
}
